[submodule "tp-Ansible"]
	path = tp-Ansible
	url = https://github.com/aplantier/tp-ansible
[submodule "docker"]
	path = docker
	url = https://github.com/aplantier/TP-dockers
[submodule "tp-git"]
	path = tp-git
	url = https://github.com/aplantier/tp-git
[submodule "TP-dockers"]
	path = TP-dockers
	url = https://github.com/aplantier/TP-dockers
